:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1440px;
  height: 452px;
  margin-top: 80px;
  gap: 48px;
}

h2 {
  width: 100%;
  font-family: "Fira Code";
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--active-font-color);
  text-align: center;
}

// .carousel-shadow-wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 64px;
//   width: 1440px;
//   height: 274px;
//   background: linear-gradient(
//     90deg,
//     #1c1c1c 0%,
//     rgba(28, 28, 28, 0) 10%,
//     rgba(28, 28, 28, 0) 90%,
//     #1c1c1c 100%
//   );
//   z-index: 9;
// }

.carousel-shadow-wrapper {
  position: relative; /* wichtig für das Overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  width: 1440px;
  height: 274px;
  z-index: 0;
  overflow: hidden;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #1c1c1c 0%,
    rgba(28, 28, 28, 0) 10%,
    rgba(28, 28, 28, 0) 90%,
    #1c1c1c 100%
  );
  z-index: 1;
  pointer-events: none;

  > img {
    position: absolute;
    top: 0;
    left: 27.5%;
    transform: translateX(-50%);
  }
}

.carousel-shadow-wrapper > app-reference-card {
  position: relative;
  z-index: 0;
}

.carousel-controls-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  .control-point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--white-text);
  }

  > button {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;

    > img {
      transition: transform 0.2s ease-in-out;
    }
    > button > img {
      width: 32px;
      height: 32px;
    }
  }

  #prev-button:hover {
    > img {
      content: url("../../../public/assets/icons/arrow_left_hover.png");
      transform: translateX(-5px);
    }
  }

  #next-button:hover {
    > img {
      content: url("../../../public/assets/icons/arrow_right_hover.png");
      transform: translateX(5px);
    }
  }
}
