:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1440px;
  height: 452px;
  margin-top: 80px;
  gap: 48px;
}

h2 {
  width: 100%;
  font-family: "Fira Code";
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--active-font-color);
  text-align: center;
}

.carousel-shadow-wrapper {
  width: 1440px;
  height: 274px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 100%;
  background: linear-gradient(
    90deg,
    #1c1c1c 0%,
    rgba(28, 28, 28, 0) 10%,
    rgba(28, 28, 28, 0) 90%,
    #1c1c1c 100%
  );
  z-index: 1;
  pointer-events: none;

  > img {
    position: absolute;
    top: 3px;
    left: 355px;
  }
}

.carousel-controls-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 24px;

  .control-points {
    display: flex;
    gap: 32px;
  }

  .control-point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--white-text);

    // cursor: pointer;
    transition: 0.3s;
  }

  .control-point.active {
    background-color: var(--active-font-color);
  }

  button {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

    > img {
      transition: all 0.2s ease-in-out;
    }
  }

  #prev-button:hover img {
    content: url("../../../public/assets/icons/arrow_left_hover.png");
    transform: translateX(-5px);
  }

  #next-button:hover img {
    content: url("../../../public/assets/icons/arrow_right_hover.png");
    transform: translateX(5px);
  }
}

.carousel-track {
  display: flex;
}

.card-wrapper {
  transition: all 0.3s ease-in-out;
}

.card-wrapper.left,
.card-wrapper.right {
  opacity: 0.5;
  transform: scale(0.8);
}

.card-wrapper.center {
  opacity: 1;
  transform: scale(1);
}

.carousel-track.left {
  animation: slide-left 0.3s forwards;
}

.carousel-track.right {
  animation: slide-right 0.3s forwards;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(33.33%);
  }
}
