:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1440px;
  height: 452px;
  margin-top: 80px;
  gap: 48px;
}

h2 {
  width: 100%;
  font-family: "Fira Code";
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--active-font-color);
  text-align: center;
}

.carousel-shadow-wrapper {
<<<<<<< HEAD
=======
  position: relative; /* wichtig für das Overlay */
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // gap: 64px;

  width: 1440px;
  height: 274px;
>>>>>>> 8909374c081f30788b1741f12b0ebfec855fff40
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 274px;
}

.carousel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  transition: transform 0.3s ease-in-out;
}

app-reference-card {
  transition: all 0.3s ease-in-out;

  &.active {
    transform: scale(1);
  }
}

.carousel-track {
  display: flex;
  transition: all 0.5s ease-in-out;
  gap: 24px;
  height: 100%;
}

.carousel-controls-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 24px;

  .control-points {
    display: flex;
    gap: 32px;
  }

  .control-point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--white-text);

    cursor: pointer;
    transition: 0.3s;
  }

  .control-point.active {
    background-color: var(--active-font-color);

  }

  button {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

<<<<<<< HEAD
    > img {
      transition: all 0.2s ease-in-out;
=======
    &:hover img {
      transform: scale(1.1);
>>>>>>> 8909374c081f30788b1741f12b0ebfec855fff40
    }

    img {
      transition: transform 0.2s ease;
    }
  }

  #prev-button:hover img {
    transform: translateX(-5px);
  }

  #next-button:hover img {
    transform: translateX(5px);
  }
}


.card-wrapper {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.card-wrapper.left,
.card-wrapper.right {
  opacity: 0.5;
  transform: scale(0.8);
  background-color: rgba(61, 207, 182, 0.1);
  border-color: rgba(61, 207, 182, 1);
  border-radius: 8px;

}

.card-wrapper.center {
  transform: scale(1);
  opacity: 1;
}

.carousel-track.left {
  animation: slide-left 0.5s forwards;
}

.carousel-track.right {
  animation: slide-right 0.5s forwards;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(33%);
  }
}
