<div class="footer-parts">
	<div class="footer-logo-container">
		<div class="footer-logo-img">
			<img src="favicon_dark_theme.png" alt="Logo">
		</div>
		<div class="footer-name-container">
			<div class="footer-logo-first-name">Dennis</div>
			<div class="footer-logo-last-name">Jakobi</div>
		</div>
	</div>
	<div class="footer-short-info">
		<p>Web Developer</p>
		<p>NRW Germany</p>
	</div>
</div>
<div class="footer-parts">
	<p id="footer-copyright">© 2025 Dennis Jakobi</p>
</div>
<div class="footer-parts">
	<div class="footer-link-wrapper">
		<img src="assets/icons/link_check_radio_button.png" alt="Point">
		<a href="https://github.com/DennisJakobi76" target="_blank">Github</a>
	</div>
	<div class="footer-link-wrapper">
		<img src="assets/icons/link_check_radio_button.png" alt="Point">
		<a href="https://www.linkedin.com/in/dennis-jakobi-84372818b" target="_blank">LinkedIn</a>
	</div>
	<div class="footer-link-wrapper">
		<img src="assets/icons/link_check_radio_button.png" alt="Point">
		<a href="mailto:dennis.jakobi76@gmail.com">Email</a>
	</div>
	<div class="footer-link-wrapper">
		<img src="assets/icons/link_check_radio_button.png" alt="Point">
		<a href="#" (click)="showImprint($event)">Legal Notice</a>
	</div>

</div>