<div id="about-me-container" class="about-me-container">
	<img src="assets/img/main_photo_hover_bg.png" alt="Striped Box Background">
	<img src="assets/img/main_photo.jpg" alt="Photo" id="about-me-photo">
</div>

<app-info-card class="about-me-info-card" [title]="getTitle()" [headline]="getHeadline()">
	{{ translationService.getTranslation('aboutMe', 'intro') }}
	<div class="about-me-content-container">
		<div class="about-me-content-img-and-text-container">
			<div class="about-me-img-container">
				<img id="location-icon" class="about-me-content-icon" src="assets/icons/location_icon.png"
					alt="Location Icon">
			</div>
			<p>{{ translationService.getTranslation('aboutMe', 'location') }}</p>
		</div>
		<div class="about-me-content-img-and-text-container">
			<div class="about-me-img-container">
				<img class="about-me-content-icon" src="assets/icons/cognition_icon.png" alt="Cognition Icon">
			</div>
			<p>{{ translationService.getTranslation('aboutMe', 'evolution') }}</p>
		</div>
		<div class="about-me-content-img-and-text-container">
			<div class="about-me-img-container">
				<img id="new-releases-icon" class="about-me-content-icon" src="assets/icons/new_releases_icon.png"
					alt="New Releases Icon">
			</div>
			<p>{{ translationService.getTranslation('aboutMe', 'mindset') }}</p>
		</div>
	</div>
</app-info-card>