:host {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-me-info-card {
  transform: translateY(160px);
}

img {
  width: 568px;
  height: 568px;
  border-radius: 30px;
}

.about-me-container {
  position: relative;
  margin-top: 144px;
  scroll-margin-top: 120px;
}

.about-me-container img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.about-me-container img:last-child {
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.about-me-container img:last-child:hover {
  transform: translate(30px, -30px);
}

.about-me-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  > .about-me-content-img-and-text-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 12px;

    &:hover {
      > p {
        color: var(--primary-font-color);
      }
    }

    > p {
      width: 100%;
      font-family: "Karla";
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: 0%;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.about-me-img-container {
  display: flex;
  justify-content: center;
  width: 32px;
}

#location-icon {
  width: 21.33px;
  height: 25.92px;
}

#new-releases-icon {
  width: 28.64px;
  height: 27.41px;
}
.about-me-content-icon {
  width: 32px;
  height: 32px;
}

@import "./about-me-media-queries.scss";
