<div class="about-me-container">
	<img src="assets/img/main_photo_hover_bg.png" alt="Striped Box Background">
	<img src="assets/img/main_photo.jpg" alt="Photo" id="about-me-photo">
</div>

<app-info-card class="about-me-info-card" title="Who I Am" headline="About me">
	Hi, I'm Dennis – a code enthusiast with a passion for modern web technologies and well-designed software. I've been
	developing since 2014, rooted in backend (.NET/C#) and increasingly drawn to the frontend.
	<br>
	What drives me is the joy of coding: creating things, solving problems creatively, and constantly learning – that’s
	what this job means to me.
	<div class="about-me-content-container">
		<div class="about-me-content-img-and-text-container">
			<div class="about-me-img-container">
				<img id="location-icon" class="about-me-content-icon" src="assets/icons/location_icon.png"
					alt="Location Icon">
			</div>

			<p>bla bla bla</p>
		</div>
		<div class="about-me-content-img-and-text-container">
			<div class="about-me-img-container">
				<img class="about-me-content-icon" src="assets/icons/cognition_icon.png" alt="Coginition Icon">

			</div>
			<p>bla bla bla</p>
		</div>
		<div class="about-me-content-img-and-text-container">
			<div class="about-me-img-container">
				<img id="new-releases-icon" class="about-me-content-icon" src="assets/icons/new_releases_icon.png"
					alt="New Releases Icon">
			</div>

			<p>bla bla bla</p>
		</div>
	</div>
</app-info-card>