:host {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-me-info-card {
  transform: translateY(160px);
}

img {
  width: 568px;
  height: 568px;
  border-radius: 30px;
}

.about-me-container {
  position: relative;
  margin-top: 144px;
}

.about-me-container img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.about-me-container img:last-child {
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.about-me-container img:last-child:hover {
  transform: translate(30px, -30px);
}
