<div class="about-me-container">
	<img src="assets/img/main_photo_hover_bg.png" alt="Striped Box Background">
	<img src="assets/img/main_photo.jpg" alt="Photo" id="about-me-photo">
</div>

<app-info-card class="about-me-info-card" title="Who I Am" headline="About me">
	Hi, I'm Dennis – a code enthusiast with a passion for modern web technologies and well-designed software. I've been
	developing since 2014, rooted in backend (.NET/C#) and increasingly drawn to the frontend.
	<br>
	What drives me is the joy of coding: creating things, solving problems creatively, and constantly learning – that’s
	what this job means to me.
</app-info-card>