@media (max-width: 1320px) {
  .project-img-container {
    margin-left: 32px !important;
  }

  .single-project-container {
    width: 800px;
  }

  .project-img-container {
    height: 150px;
    width: 260px;
  }

  .project-img {
    width: 260px;
    height: 150px;
  }
}

@media (max-width: 1110px) {
  .single-project-container {
    width: 720px;
  }
}

@media (max-width: 1030px) {
  .single-project-container {
    width: 620px;
  }
}

@media (max-width: 920px) {
  .project-img-container {
    height: 150px;
    width: 253.24px;
  }

  .project-img {
    width: 253px;
    height: 150px;
  }

  #join-project-thumbnail {
    margin-left: 12px;
  }

  #el-pollo-loco-project-thumbnail {
    margin-left: 12px;
  }

  #pokedex-project-thumbnail {
    margin-left: 12px;
  }
}

@media (max-width: 900px) {
  .project-thumbnails-container {
    display: none;
  }
}

@media (max-width: 640px) {
  .single-project-container {
    width: 570px;
    padding: 40px 16px 40px 16px;
  }
}

@media (max-width: 600px) {
  .single-project-container {
    width: 480px;
  }
}

@media (max-width: 570px) {
  .project-title-container {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .project-tech-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
  }
}

@media (max-width: 500px) {
  .single-project-container {
    width: 440px;
  }
}

@media (max-width: 470px) {
  .single-project-container {
    width: 440px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
  }

  .project-arrow-container {
    > img {
      padding-top: 6px;
    }
  }

  .project-tech-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
  }
}

@media (max-width: 400px) {
  .single-project-container {
    width: 340px;
  }
}

@media (max-width: 320px) {
  .single-project-container {
    width: 280px;
  }
}
