:host {
  position: fixed;
  top: 124px;
  left: 0;

  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1248px;
  height: 656px;
  border-radius: 30px;
  border: 1px solid rgba(61, 207, 182, 1);
  background: linear-gradient(55.22deg, #1c1c1c 36.26%, #08463b 93.28%);
  padding: 62px;
}

#project-details-card-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 480px;
  gap: 40px;
}

.details-card-id-and-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.details-card-id {
  width: 125px;
  height: 100px;
  font-family: "Karla";
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  letter-spacing: -2%;
  color: var(--active-font-color);
}

.details-card-title {
  width: 148px;
  height: 51px;
  font-family: "Fira Code";
  font-weight: 700;
  font-size: 64px;
  line-height: 80%;
  letter-spacing: -3%;
  color: rgba(255, 255, 255, 1);
}

.details-card-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.details-card-description-title {
  width: 100%;
  height: 29px;
  font-family: "Fira Code";
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--active-font-color);
}

.details-card-description {
  width: 100%;
  height: 66px;
  font-family: "Karla";
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.details-card-tech-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  height: 24px;
  gap: 16px;
}

.details-tech-img-and-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  img {
    width: 24px;
    height: 24px;
  }
  p {
    height: 19px;
    font-family: "Karla";
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
  }
}

.details-link-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 304px;
  height: 48px;
  gap: 32px;
  margin-top: 32px;
}

.details-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 130px;
  height: 48px;
  border-radius: 100px;
  background: none;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid rgba(255, 255, 255, 1);
  transition: all 0.3s ease-in-out;

  > div > div > img {
    transition: all 0.15s ease-in-out;
  }

  &:hover {
    border-color: var(--active-font-color);
    cursor: pointer;
    > div > span {
      color: var(--active-font-color);
    }

    > div > div > img {
      transform: translate(50%, -30%);
    }
  }

  > div > span {
    height: 22px;
    font-family: "Karla";
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease-in-out;
  }

  .details-button-text-and-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}

.details-card-next-project-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;

  &:hover {
    cursor: pointer;
    > .details-card-next-project-text {
      color: rgba(255, 255, 255, 1);
    }

    > div > img {
      transform: translateX(3px);
    }
  }

  .details-card-next-project-text {
    width: 103px;
    height: 22px;
    font-family: "Karla";
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: right;
    margin-right: -8px;
    color: var(--active-font-color);
    transition: all 0.2s ease-in-out;
  }

  .details-card-next-project-arrow {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      position: absolute;
      width: 32px;
      height: 32px;
      left: 14px;
      transition: all 0.1s ease-in-out;
    }
  }
}

.details-card-close-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 48px;

  .close-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }

  .close-btn {
    width: 17.85px;
    height: 17.85px;
    background-image: url("../../../../public/assets/icons/details_close.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in-out, opacity 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      width: 24px;
      height: 24px;
      background-image: url("../../../../public/assets/icons/details_close_hover.png");
    }
  }
}

.details-card-img-container {
  > img {
    width: 520px;
    height: 369.78px;
    border-radius: 30px;
  }
}

#project-details-card-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  height: 100%;
}
