<div class="project-details-container" [style.display]="isVisible ? 'flex' : 'none'">
	<div id="project-details-card-left-side" class="project-details-card-side-wrapper">
		<div class="details-card-id-and-title-container">
			<span class="details-card-id">{{projectDetails.id}}</span>
			<h3 class="details-card-title">{{projectDetails.title}}</h3>
		</div>
		<div class="details-card-description-container">
			<p class="details-card-description">
				{{ projectDetails.description[(translationService.isGerman$ | async) ? 'de' : 'en'] }}
			</p>
			<div class="details-card-tech-container">
				<div class="details-tech-img-and-name-container" *ngFor="let tech of projectDetails.technologies">
					<img [src]="tech.iconSrc" [alt]="tech.iconAlt">
					<p>{{tech.name}}</p>
				</div>
			</div>
			<div class="details-link-buttons-container">
				<a [href]="projectDetails.links.github" target="_blank" class="details-button">
					<div class="details-button-text-and-arrow-container">
						<span>Github</span>
						<div class="details-link-arrow-container">
							<img src="assets/icons/details_btn_arrow.png" alt="Arrow Icon">
						</div>
					</div>
				</a>
				<a [href]="projectDetails.links.live" target="_blank" class="details-button">
					<div class="details-button-text-and-arrow-container">
						<span>Live Test</span>
						<div class="details-link-arrow-container">
							<img src="assets/icons/details_btn_arrow.png" alt="Arrow Icon">
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div id="project-details-card-right-side" class="project-details-card-side-wrapper">
		<div class="details-card-close-btn-container" (click)="closeCard()">
			<div class="close-btn-container">
				<div class="close-btn"></div>
			</div>
		</div>
		<div class="details-card-img-container">
			<img [src]="projectDetails.detailImage.src" [alt]="projectDetails.detailImage.alt">
		</div>
		<div class="details-card-next-project-btn-container" (click)="showNextProject()">
			<div class="details-card-next-project-text">
				{{ translationService.getTranslation('projectDetails', 'nextProject') }}
			</div>
			<div class="details-card-next-project-arrow">
				<img src="assets/icons/details_next_arrow.png" alt="Arrow">
			</div>
		</div>
	</div>
</div>