<body>
	<app-header />
	<main>
		<div class="hero-container-left flex-col-j-fe">
			<div class="hero-container-left-button"><a href="#contact-title"><img src="assets/img/scroll_btn_arrow.png"
						alt=""></a></div>
			<div class="hero-container-seperator"></div>
		</div>
		<div class="hero-container-center">
			<h2>{{ translationService.getTranslation('hero', 'title') }}</h2>
			<h1>Dennis Jakobi</h1>
			<div class="title-button-container">
				<a href="#featured-projects">
					<button class="primary-btn btn-scroll-text"><span>{{ translationService.getTranslation('hero',
							'checkWork') }}</span></button></a>
				<a href="#contact-title">
					<button class="primary-btn btn-scroll-text"><span>{{ translationService.getTranslation('hero',
							'contact') }}</span></button></a>
			</div>
		</div>
		<div class="hero-container-right flex-col-j-fe">
			<div class="eight-pixel-wrapper">
				<div class="hero-container-email-right"><a id="hero-email-link"
						href="mailto:info@dennisjakobi.net">info&#64;dennisjakobi.net</a>
					<div class="hero-container-social-medialink" id="hero-mobile-email-link">
						<a id="mobile-email-link" href="mailto:info@dennisjakobi.net">
							<div id="mobile-mail-icon"></div>
						</a>
						<div class="link-check-point" id="email-point-container"><img
								src="assets/icons/link_check_radio_button.png" alt="Point" id="email-point"></div>
					</div>
				</div>
				<div class="eight-pixel-align"></div>
			</div>
			<div class="hero-link-checkpoint-wrapper">
				<div class="hero-container-social-media-link" id="hero-github-link"><a
						href="https://github.com/DennisJakobi76" target="_blank"></a></div>
				<div class="link-check-point" id="github-point-container"><img
						src="assets/icons/link_check_radio_button.png" alt="Point" id="github-point"></div>
			</div>
			<div class="hero-link-checkpoint-wrapper">
				<div class="hero-container-social-media-link" id="hero-linkedin-link"><a
						href="https://www.linkedin.com/in/dennis-jakobi-84372818b" target="_blank"></a></div>
				<div class="link-check-point" id="linkedin-point-container"><img
						src="assets/icons/link_check_radio_button.png" alt="Point"></div>
			</div>
			<div class="eight-pixel-wrapper">
				<div class="hero-container-seperator" id="hero-seperator-right"></div>
				<div class="eight-pixel-align"></div>
			</div>
		</div>
		<app-marquee />
	</main>
</body>