@media (max-width: 1060px) {
  .hero-container-email-right {
    transform: rotate(0deg);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
  }

  #hero-email-link {
    display: none;
  }
  #hero-mobile-email-link {
    display: flex;
  }
  #mobile-mail-icon {
    width: 32px;
    height: 32px;
    background-image: url("../../../public/assets/icons/mail_icon_default.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      background-image: url("../../../public/assets/icons/mail_icon_hover.png");
    }
  }

  .hero-container-social-medialink {
    display: flex;
    align-items: center;

    #email-point-container img {
      transition: opacity 0.3s;
    }

    &:hover #email-point-container img,
    &:hover #mobile-mail-icon {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }

  #email-point-container img {
    opacity: 0;
  }

  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
    padding: 0 16px;
  }

  .hero-container-left,
  .hero-container-right {
    position: static;
    transform: none;
  }

  .hero-container-center {
    order: 1;
    width: 100%;
    position: static;
    transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 130px;
    text-align: center;
  }

  .hero-container-left {
    order: 2;
  }

  .hero-container-right {
    order: 3;
  }
}

@media (max-width: 920px) {
  .hero-container-center {
    margin-bottom: 224px;
    > h2 {
      font-size: 32px;
    }
    > h1 {
      font-size: 62px;
    }
    gap: 8px;
  }

  .title-button-container {
    justify-content: space-between;
  }
}

@media (max-width: 470px) {
  .hero-container-center {
    > h2 {
      font-size: 20px;
    }
    > h1 {
      font-size: 40px;
    }
  }

  .title-button-container {
    gap: 12px;
    .primary-btn {
      width: 140px !important;
      min-width: 0 !important;
    }
  }
}

@media (max-width: 360px) {
  .hero-container-center {
    flex: none;
    > h1 {
      font-size: 32px;
    }
  }

  .title-button-container {
    gap: 8px;
    .primary-btn {
      width: 128px !important;
      min-width: 0 !important;

      > span {
        text-align: center;
        width: 100%;
      }
    }
  }
}
