<div class="contact-left-side">
	<p id="contact-title" class="contact-title">Contact me</p>

	<h2 class="contact-headline">Let's work together</h2>
	<p class="contact-subtitle">Got a problem to solve?</p>
	<p class="contact-text">Whether you have an idea ready to come to life or you're facing a technical challenge – I'm
		here to help. With a passion for modern web technologies and a focus on tailored solutions, I’ll support you in
		bringing your project to success.<br><br>
		Let’s build something <span>great together!</span>
	</p>
	<p class="contact-cta">Need a Frontend developer? <span>Let's talk!</span></p>
</div>
<div class="contact-right-side">
	<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="contact-form">
		<div class="contact-form-container guests-name-container">
			<h2>What`s your name?</h2>
			<input #name="ngModel" [(ngModel)]="contactData.name" name="name" type="text" required
				[placeholder]="(!name.valid && name.touched && !name.disabled && !focused.name) ? 'Oops! It seems your name is missing.' : 'Your name goes here'"
				id="guests-name" required (focus)="focused.name = true" (blur)="focused.name = false">


		</div>

		<div class="contact-form-container guests-email-container">
			<h2>What`s your email?</h2>
			<input #email="ngModel" [(ngModel)]="contactData.email" name="email" type="text" required
				[pattern]="emailPattern" id="guests-email" [placeholder]="
    !focused.email && email.touched && email.errors?.['required']
      ? 'Hoppla! Your email is required.'
      : (!focused.email && email.touched && email.errors?.['pattern']
          ? 'Please enter a valid email address.'
          : 'youremail@email.com')
  " (focus)="focused.email = true" (blur)="onEmailBlur(email)" />
			<p class="guests-email-error" *ngIf="!focused.email && email.touched && email.errors?.['pattern']">Please
				enter a valid email address.</p>
		</div>

		<div class="contact-form-container guests-message-container">
			<h2>How can I help you?</h2>
			<textarea #message="ngModel" [(ngModel)]="contactData.message" minlength="4" name="message"
				[placeholder]="(!message.valid && message.touched && !message.disabled && !focused.message) ? 'What do you want to develop?' : 'Hello Dennis, I am interested in...'"
				id="guests-message" required (focus)="focused.message = true"
				(blur)="focused.message = false"></textarea>
		</div>

		<div class="confirm-policy-container">
			<div id="confirm-policy-checkbox">
				<img [src]="confirmedPolicy ? 'assets/icons/check_box_checked_default.png' : 'assets/icons/check_box_default.png'"
					alt="Checkbox" (click)="togglePolicy()">
			</div>
			<label>I`ve read the <span (click)="showPrivacyPolicy()">privacy policy</span> and agree to the processing
				of my data as outlined.</label>
		</div>
		<p class="policy-error" *ngIf="!confirmedPolicy && contactForm.submitted">Please accept the privacy policy to
			continue.</p>

		<div class="contact-form-container contact-btn-container">
			<input class="primary-btn" type="submit" value="Say Hello ;)">
		</div>
	</form>
</div>