<div class="contact-left-side">
	<p id="contact-title" class="contact-title">{{ translationService.getTranslation('contact', 'title') }}</p>
	<h2 class="contact-headline">{{ translationService.getTranslation('contact', 'headline') }}</h2>
	<p class="contact-subtitle">{{ translationService.getTranslation('contact', 'subtitle') }}</p>
	<p class="contact-text">{{ translationService.getTranslation('contact', 'description') }}<br><br>
		{{ translationService.getTranslation('contact', 'buildTogether') }} <span>{{
			translationService.getTranslation('contact', 'somethingGreat') }}</span>
	</p>
	<p class="contact-cta">{{ translationService.getTranslation('contact', 'needDeveloper') }}
		<span>{{ translationService.getTranslation('contact', 'letsTalk') }}</span>
	</p>
</div>
<div class="contact-right-side">
	<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="contact-form">
		<!-- Name section -->
		<div class="contact-form-container guests-name-container">
			<h2>{{ translationService.getTranslation('contact', 'nameQuestion') }}</h2>
			<input #name="ngModel" [(ngModel)]="contactData.name" name="name" type="text" required [placeholder]="(!name.valid && name.touched && !name.disabled && !focused.name) ?
                    translationService.getTranslation('contact', 'nameError') :
                    translationService.getTranslation('contact', 'namePlaceholder')" id="guests-name"
				(focus)="focused.name = true" (blur)="focused.name = false">
		</div>

		<!-- Email section -->
		<div class="contact-form-container guests-email-container">
			<h2>{{ translationService.getTranslation('contact', 'emailQuestion') }}</h2>
			<input #email="ngModel" [(ngModel)]="contactData.email" name="email" type="email" required [placeholder]="(!email.valid && email.touched && !email.disabled && !focused.email) ?
                translationService.getTranslation('contact', 'emailRequired') :
                translationService.getTranslation('contact', 'emailPlaceholder')" [pattern]="emailPattern"
				(focus)="focused.email = true" (blur)="focused.email = false">
			<p class="guests-email-error" *ngIf="email.errors?.['pattern'] && email.touched && !focused.email">
				{{ translationService.getTranslation('contact', 'emailInvalid') }}
			</p>
		</div>

		<!-- Message section -->
		<div class="contact-form-container" id="message-container">
			<h2>{{ translationService.getTranslation('contact', 'messageQuestion') }}</h2>
			<textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" required [placeholder]="(!message.valid && message.touched && !message.disabled && !focused.message) ?
                    translationService.getTranslation('contact', 'messageError') :
                    translationService.getTranslation('contact', 'messagePlaceholder')"
				(focus)="focused.message = true" (blur)="focused.message = false"></textarea>
		</div>

		<!-- Policy section -->
		<div class="confirm-policy-container">
			<div id="confirm-policy-checkbox">
				<img [src]="confirmedPolicy ? 'assets/icons/check_box_checked_default.png' : 'assets/icons/check_box_default.png'"
					alt="Checkbox" (click)="togglePolicy()">
			</div>
			<label>{{ translationService.getTranslation('contact', 'policyText') }}
				<span (click)="showPrivacyPolicy()">{{ translationService.getTranslation('contact', 'policyLink')
					}}</span>
				{{ translationService.getTranslation('contact', 'policyAgree') }}</label>
		</div>
		<p class="policy-error" *ngIf="!confirmedPolicy && contactForm.submitted">
			{{ translationService.getTranslation('contact', 'policyError') }}
		</p>

		<!-- Submit button -->
		<div class="contact-form-container contact-btn-container">
			<input class="primary-btn" type="submit" [value]="translationService.getTranslation('contact', 'submit')">
		</div>
	</form>
	<div *ngIf="successMessage" class="success-notification">
		{{ successMessage }}
	</div>
</div>