@media (max-width: 1300px) {
  :host {
    width: 100%;
    align-items: flex-start;
    gap: 24px;
    height: auto;
  }
}

@media (max-width: 900px) {
  :host {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .contact-form-container:nth-child(2) {
    border-top: 1px solid var(--active-font-color);
    border-bottom: 1px solid var(--active-font-color);
  }
  #message-container {
    border-bottom: 1px solid var(--active-font-color);
  }
}

@media (max-width: 700px) {
  #contact-title {
    font-size: 18px;
  }
  .contact-left-side {
    .contact-headline {
      font-size: 48px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: -3%;
    }
  }
}

@media (max-width: 500px) {
  #contact-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .contact-headline {
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -3%;
  }

  .contact-subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .contact-form-container {
    > h2 {
      font-size: 20px;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: 0%;
    }

    > input[type="text"],
    [type="email"],
    textarea {
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0%;
    }
  }

  .confirm-policy-container {
    > label {
      font-size: 15px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0%;
    }
  }
}
