<div class="header-button-container">
	<div class="header-button" id="language-switch"></div>
	<div class="header-button">
		<a href="*">About me</a>
	</div>
	<div class="header-button">
		<a href="*">Skills</a>
	</div>
	<div class="header-button">
		<a href="*">Projects</a>
	</div>
</div>

<div class="header-logo-container">
	<div class="header-logo">
		<img src="favicon_dark_theme.png" alt="Logo">
	</div>
	<div class="header-name-container">
		<div class="header-logo-first-name">Dennis</div>
		<div class="header-logo-last-name">Jakobi</div>
	</div>
</div>