:host {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 98px;
  padding-left: 96px;
  padding-right: 96px;
}

.header-button-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 409px;
  height: 28px;
  gap: 24px;
  color: rgba(255, 255, 255, 1);
  > #language-switch {
    background-image: url("../../../../public/assets/icons/default_language_switch.png");
    background-size: contain;
    background-repeat: no-repeat;

    width: 84px;
    height: 48px;
    transition: all 0.3s ease-in-out;
  }
  & #language-switch:hover {
    background-image: url("../../../../public/assets/icons/default_language_switch_hover.png");
    cursor: pointer;
  }

  > .header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
  }
}

.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-logo {
  > img {
    width: 35.17px;
    height: 48px;
  }
}

.header-name-container {
  font-family: "Karla";
  font-weight: 640;
  font-size: 16px;
  height: 48px;
}
