:host {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 98px;
  padding-left: 96px;
  padding-right: 96px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.header-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: 48px;
  gap: 24px;
  color: var(--white-text);

  > #language-switch {
    background-image: url("../../../../public/assets/icons/default_language_switch.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 84px;
    height: 48px;
    transition: all 0.3s ease-in-out;

    &.german {
      background-image: url("../../../../public/assets/icons/german_language_switch.png");

      &:hover {
        background-image: url("../../../../public/assets/icons/german_language_switch_hover.png");
      }
    }

    &:not(.german):hover {
      background-image: url("../../../../public/assets/icons/default_language_switch_hover.png");
      cursor: pointer;
    }
  }

  > .header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    min-width: max-content;
  }
}

.link-point-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.link-point-wrapper:hover a {
  color: var(--active-font-color);
}

.header-point-container {
  margin-top: -8px;

  > img {
    opacity: 0;
  }
}

.header-point-container img {
  transition: opacity 0.3s ease-in-out;
}

.link-point-wrapper:hover .header-point-container img {
  opacity: 1;
}

.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-logo {
  > img {
    width: 35.17px;
    height: 48px;
  }
}

.header-logo-first-name {
  margin-top: -2px;
}

.header-name-container {
  font-family: "Karla";
  font-weight: 640;
  font-size: 20px;
  height: 48px;
  text-shadow: -1px -1px 0 var(--portfolio-bg), 1px -1px 0 var(--portfolio-bg),
    -1px 1px 0 var(--portfolio-bg), 1px 1px 0 var(--portfolio-bg);
}

.header-logo-container {
  transition: all 0.3s ease-in-out;
}

.header-logo-container:hover {
  filter: invert(1);
}

.header-main-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  scroll-margin-top: 8px;
}

@import "./header-media-queries.scss";
