<div class="header-button-container">
	<div class="header-button">
		<img src="assets/icons/default_language_switch.png" alt="">
	</div>
	<div class="header-button">
		<a href="*">About me</a>
	</div>
	<div class="header-button">
		<a href="*">Skills</a>
	</div>
	<div class="header-button">
		<a href="*">Projects</a>
	</div>

</div>
<div class="header-logo-container">
	<div class="header-logo">
		<img src="favicon_dark_theme.png" alt="Logo">
	</div>
	<div class="header-name-container">
		<div class="header-logo-first-name">Dennis</div>
		<div class="header-logo-last-name">Jakobi</div>
	</div>
</div>