<div class="header-button-container">
	<div class="header-button" id="language-switch"></div>
	<div class="link-point-wrapper">
		<div class="header-button">
			<a href="*">About me</a>
		</div>
		<div id="header-about-me-point-container" class="header-point-container">
			<img src="assets/icons/link_check_radio_button.png" alt="Point">
		</div>
	</div>

	<div class="link-point-wrapper">
		<div class="header-button">
			<a href="*">Skills</a>
		</div>
		<div id="header-skills-point-container" class="header-point-container">
			<img src="assets/icons/link_check_radio_button.png" alt="Point">
		</div>
	</div>
	<div class="link-point-wrapper">
		<div class="header-button">
			<a href="*">Projects</a>
		</div>
		<div id="header-projects-point-container" class="header-point-container">
			<img src="assets/icons/link_check_radio_button.png" alt="Point">
		</div>
	</div>
</div>

<div class="header-logo-container">
	<div class="header-logo">
		<img src="favicon_dark_theme.png" alt="Logo">
	</div>
	<div class="header-name-container">
		<div class="header-logo-first-name">Dennis</div>
		<div class="header-logo-last-name">Jakobi</div>
	</div>
</div>