@media (max-width: 1300px) {
  .technologies-container {
    padding: 40px;
    margin-bottom: 80px;
  }
  .tech-skill-icon-container {
    gap: 40px;
  }
}

@media (max-width: 1140px) {
  .tech-skill-icon-container {
    gap: 40px;
  }
}

@media (max-width: 900px) {
  .technologies-content-container {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }

  .tech-skill-icon-container {
    gap: 80px;
  }

  h3 {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

@media (max-width: 640px) {
  .tech-skill-icon-container {
    width: 100%;
    gap: 30px;
  }

  .skill-icon-img img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 500px) {
  .tech-skill-icon-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
  }

  .skill-icon-img img {
    width: 40px;
    height: 40px;
  }

  .skill-icon-name {
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .overlay-img {
    width: 130px !important;
    height: 80px !important;
  }
}

@media (max-width: 375px) {
  .tech-skill-icon-container {
    gap: 20px;
  }

  .skill-icon-and-title-container {
    margin-bottom: 8px;
  }
}
