<app-hero />
<app-about-me />
<app-technologies />
<app-portfolio />
<app-references />
<app-contact />
<app-footer />
<app-imprint>
	<div [ngSwitch]="type">
		<div *ngSwitchCase="'legal'" class="legal-notice">
			<h1>{{ translationService.getTranslation('imprint', 'legalNoticeTitle') }}</h1>
			<div>
				<p>Dennis Jakobi<br />
					Gartenstraße 90<br />45699 Herten</p>
			</div>
			<div>
				<p>
					{{ translationService.getTranslation('imprint', 'phone') }}: +4917687903079<br />
					{{ translationService.getTranslation('imprint', 'email') }}:
					<a href="mailto:info@dennisjakobi.net">info&#64;dennisjakobi.net</a><br />
				</p>
			</div>
		</div>
		<div *ngSwitchCase="'privacy'">
			<h1>{{ translationService.getTranslation('imprint', 'privacyPolicyTitle') }}</h1>
			<div>
				<p>{{ translationService.getTranslation('imprint', 'privacyIntro') }}</p>
			</div>
			<div>
				<h2>{{ translationService.getTranslation('imprint', 'generalTitle') }}</h2>
				<p>{{ translationService.getTranslation('imprint', 'generalText') }}</p>
			</div>
			<div>
				<h2>{{ translationService.getTranslation('imprint', 'contactFormTitle') }}</h2>
				<p>{{ translationService.getTranslation('imprint', 'contactFormText') }}</p>
				<p>{{ translationService.getTranslation('imprint', 'dataSharing') }}</p>
				<p>{{ translationService.getTranslation('imprint', 'legalBasis') }}</p>
			</div>
			<div>
				<h2>{{ translationService.getTranslation('imprint', 'rightsTitle') }}</h2>
				<p>{{ translationService.getTranslation('imprint', 'rightsIntro') }}</p>
				<ng-container *ngFor="let right of getRights()">
					<p>{{ right }}</p>
				</ng-container>
				<p>{{ translationService.getTranslation('imprint', 'rightsNote') }}</p>
			</div>
			<div>
				<h2>{{ translationService.getTranslation('imprint', 'contactTitle') }}</h2>
				<p>{{ translationService.getTranslation('imprint', 'responsiblePerson') }}</p>
				<p>
					<strong>Dennis Jakobi</strong><br>
					Gartenstraße 90, 45699 Herten<br>
					{{ translationService.getTranslation('imprint', 'email') }}:
					<a href="mailto:info@dennisjakobi.net">info&#64;dennisjakobi.net</a>
				</p>
			</div>
		</div>
	</div>

</app-imprint>
<router-outlet />