:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(55.22deg, #1c1c1c 36.26%, #08463b 93.28%);
}

.privacy-policy-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;
  padding: 0 80px;
  margin-bottom: 48px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  min-height: 100vh;
  width: 100%;
}
