<div class="imprint-container" [style.display]="isVisible ? 'flex' : 'none'">
	<div class="impress-card-close-btn-container">
		<div class="close-btn-container">
			<div class="close-btn" (click)="closeCard()"></div>
		</div>
	</div>


	<h1 class="imprint-title">Imprint</h1>
	<div class="imprint-content">
		<p>Dennis Jakobi<br />
			Gartenstraße 90<br />45699 Herten</p>
	</div>
	<div>
		<p>
			Telefon: +4917687903079<br />
			E-Mail:
			<a href="mailto:dennis.jakobi76@gmail.com">dennis.jakobi76&#64;gmail.com</a><br />
		</p>
	</div>
</div>