:host {
  //   height: 100%;
  //   width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imprint-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;

  width: 1248px;
  height: 656px;
  border-radius: 30px;
  border: 1px solid rgba(61, 207, 182, 1);
  background: linear-gradient(55.22deg, #1c1c1c 36.26%, #08463b 93.28%);
  padding: 62px;
}

.impress-card-close-btn-container {
  position: absolute;
  top: 48px;
  right: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 56px;
}

.close-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn {
  width: 17.85px;
  height: 17.85px;
  background-image: url("../../../public/assets/icons/details_close.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out, opacity 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    width: 24px;
    height: 24px;
    background-image: url("../../../public/assets/icons/details_close_hover.png");
  }
}

.content-wrapper {
  height: 500px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;

  > div.legal-notice {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
