:root {
  --portfolio-bg: rgba(28, 28, 28, 1);
  --active-font-color: rgba(61, 207, 182, 1);
  --primary-font-color: rgba(217, 217, 2127, 1);
  --banner-bg: #434343;
  --cursor-shadow-color: rgba(48, 112, 102, 1);
  --white-text: rgba(255, 255, 255, 1);
  --error-color: rgba(236, 123, 123, 0.8);

  --x: 50%;
  --y: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Fira Code";
  src: url("../public/assets/fonts/FiraCode-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Karla";
  src: url("../public/assets/fonts/Karla-Italic-VariableFont_wght.ttf");
}

html,
body {
  font-family: "Fira Code", "Karla", sans-serif;
  color: var(--primary-font-color);
  background-color: var(--portfolio-bg);
  ::-webkit-scrollbar {
    display: none;
  }
  cursor: default;
  scroll-behavior: smooth;
}

html {
  background-color: var(--portfolio-bg);
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.display-none {
  display: none;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--active-font-color);
  }
}

.flex-col-j-fe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.primary-btn {
  border: 1px solid rgba(255, 255, 255, 1);
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  height: 48px;
  padding: 0 24px;
  color: var(--primary-font-color);
  border-radius: 100px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;

  &:hover {
    border-color: var(--active-font-color);
    color: var(--active-font-color);
  }

  span {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    font-family: "Karla";
  }
}

#mouse-glow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;

  background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    rgba(48, 112, 102, 0.3) 0px,
    rgba(48, 112, 102, 0.1) 40px,
    rgba(48, 112, 102, 0.05) 100px,
    transparent 120px
  );

  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background 0.05s ease;
}

::placeholder {
  color: var(--primary-font-color);
}

@media (max-width: 1300px) {
  body {
    width: 100%;
  }
}
