:root {
  --portfolio-bg: #292929;
  --active-font-color: #40cdb5;
  --primary-font-color: #ffffff;
  --banner-bg: #434343;
  --cursor-shadow-color: rgba(48, 112, 102, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Karla";
  src: url("/fonts/Karla-Regular.ttf") format("truetype");
}

body {
  font-family: "Fira Code", "Karla", sans-serif;
  color: var(--primary-font-color);
  background-color: var(--portfolio-bg);
}
