<div class="projects-and-thumbnails-container">
	<div class="projects-container">
		<div class="single-project-container project-borders">
			<div class="project-title-and-arrow-container">
				<div class="project-title-container">Join</div>
				<div class="project-arrow-container "><img src="assets/icons/project_arrow.png" alt="Arrow"
						class="display-none">
				</div>
			</div>
			<div class="project-tech-container"></div>
		</div>
		<div class="single-project-container">
			<div class="project-title-and-arrow-container">
				<div class="project-title-container">El Pollo Loco</div>
				<div class="project-arrow-container "><img src="assets/icons/project_arrow.png" alt="Arrow"
						class="display-none">
				</div>
			</div>
			<div class="project-tech-container"></div>
		</div>
		<div class="single-project-container project-borders">
			<div class="project-title-and-arrow-container">
				<div class="project-title-container">Pokedex</div>
				<div class="project-arrow-container "><img src="assets/icons/project_arrow.png" alt="Arrow"
						class="display-none">
				</div>
			</div>
			<div class="project-tech-container"></div>
		</div>
	</div>

	<div class="project-thumbnails-container"></div>
</div>