<div class="menu-container">
	<div class="link-point-wrapper">
		<div class="mobile-button">
			<a href="#about-me-container" (click)="closeMenu.emit()">
				{{ translationService.getTranslation('header', 'aboutMe') }}
			</a>
		</div>

		<div id="header-about-me-point-container" class="header-point-container">
			<img src="assets/icons/link_check_radio_button.png" alt="Point">
		</div>
	</div>
	<div class="link-point-wrapper">
		<div class="mobile-button">
			<a href="#technologies-content-container" (click)="closeMenu.emit()">
				{{ translationService.getTranslation('header', 'skills') }}
			</a>
		</div>
		<div id="header-skills-point-container" class="header-point-container">
			<img src="assets/icons/link_check_radio_button.png" alt="Point">
		</div>
	</div>
	<div class="link-point-wrapper">
		<div class="mobile-button">
			<a href="#featured-projects" (click)="closeMenu.emit()">
				{{ translationService.getTranslation('header', 'projects') }}
			</a>
		</div>
		<div id="header-projects-point-container" class="header-point-container">
			<img src="assets/icons/link_check_radio_button.png" alt="Point">
		</div>
	</div>
	<div class="mobile-button" id="mobile-language-switch" (click)="toggleLanguage()"
		[class.german]="translationService.isGerman$ | async"></div>

</div>